html {
  box-sizing: border-box;
  background-color: #dbd6cf;
  line-height: 1.5;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0em;
  background-color: #79756f;
  border-top:solid;
  border-bottom: solid;
  border-color: #595652;
}

h1 {
  color: #fff;
  text-align: center;
  font-family: Bevan, sans-serif;
}

header {
  margin: .3em;
  text-align: center;
}
